<!DOCTYPE html>
{%load static%}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8Lnhs_A_7uvEAKrCMniq7fLQVk0DOZA6_2w&usqp=CAU);">
  
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

  

<nav class="navbar navbar-expand-lg">
  
    <div class="container-fluid">
      <a class="navbar-brand" href="{%url 'home' %}">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{%url 'signout' %}">logout</a>
          </li>
          
        </ul>
       
        <form class="d-flex" role="search">
     
        </form>
      </div>
    </div>
  </nav>
</body>
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
          <h1>
              Add product!
          </h1>
            <form action="#" method="post" enctype="multipart/form-data">
    {%csrf_token%}
    {{form.as_p}}
                <input type="submit" value="create">
                </form>
        </div>
        <div class="col-4"></div>

    </div>
</div>

</body>
</html>